@using WEBBANHANG.Models.Entity
@{
    BanHangEntity db = new BanHangEntity();
    List<LoaiSanPham> lst = db.LoaiSanPhams.ToList();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="products-catagories-area clearfix" >
    <div class="amado-pro-catagory clearfix">
        @foreach (var i in lst)
        {
                <div class="single-products-catagory clearfix">
                    @{
                        var url = "/Home/ListProductView?loaiSanPhamID=" + i.LoaiSanPhamID;
                    }
                    <a href="@url">
                        @{
                            var imageSource = i.AnhDaiDien == null ? "" : Url.Content(i.AnhDaiDien);
                        }
                        <img src="@imageSource" alt="Image" style="height:300px;"/>
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>@i.MoTa</p>
                            <h4>@i.TenLoai</h4>
                        </div>
                    </a>
                </div>
                }
                <!-- Single Catagory -->
                @*<div class="single-products-catagory clearfix">
                    <a href="~/Home/ListProduct">
                        <img src="~/Content_Web/img/bg-img/1.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $180</p>
                            <h4>Modern Chair</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="~/Home/ListProduct">
                        <img src="~/Content_Web/img/bg-img/2.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $180</p>
                            <h4>Minimalistic Plant Pot</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="~/Home/ListProduct">
                        <img src="~/Content_Web/img/bg-img/3.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $180</p>
                            <h4>Modern Chair</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="~/Home/ListProduct">
                        <img src="~/Content_Web/img/bg-img/4.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $180</p>
                            <h4>Night Stand</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="~/Home/ListProduct">
                        <img src="~/Content_Web/img/bg-img/5.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $18</p>
                            <h4>Plant Pot</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="~/Home/ListProduct">
                        <img src="~/Content_Web/img/bg-img/6.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $320</p>
                            <h4>Small Table</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="~/Home/ListProduct">
                        <img src="~/Content_Web/img/bg-img/7.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $318</p>
                            <h4>Metallic Chair</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="~/Home/ListProduct">
                        <img src="~/Content_Web/img/bg-img/8.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $318</p>
                            <h4>Modern Rocking Chair</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="~/Home/ListProduct">
                        <img src="~/Content_Web/img/bg-img/9.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $318</p>
                            <h4>Home Deco</h4>
                        </div>
                    </a>
                </div>*@
                </div>
            </div>
<!-- ##### Footer Area End ##### -->
<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script src="~/Content_Web/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="~/Content_Web/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="~/Content_Web/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="~/Content_Web/js/plugins.js"></script>
<!-- Active js -->
<script src="~/Content_Web/js/active.js"></script>